@charset "UTF-8";
/* CSS Document */

    a:link, a:visited {
  color: red;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
    a:hover {
    color:blue
    }
    p {
       font-family: 'Arial', sans-serif;
       font-weight: bold;
	   font-size: 20px;
     }
	 h1{
       font-family: impact;
       font-weight: bold;
	   font-size: 40px;	
	 }
    .section{
      min-width: 600px;
	  max-width: 970px;
	  width:80%; 
      outline: solid;
      outline-width: 6px;
	  margin: auto;
	  padding-inline: 15px;
    }
	.directory{
		a:link, a:visited{
			text-decoration: underline;
			color: #178049;
		}
		    a:hover {
    		color:#60a5f0
   		 	}
	}
	.outline-dashed{
		outline: dashed;
		outline-width: 3px;
	}
/* Dark areas */
	 .dark{
	h1{
		color: #4e509b;
	}
    p {
       color: white;
     }
    .section, .outline-dashed {
      outline-color: white;
      background-color: #151515;
    }
}
/* light areas */
	 .light{
	h1{
		color: #550d3f;
	}
    p {
       color: #66178d;
     }
    .section, .outline-dashed{
      outline-color: #504f8f;
      background-color: #fff8df;
    }
}
